<div class="card-layout">
    <!-- Use *ngFor Directive to render the images-->
    <div>
    <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    Carl Jung
                </mat-card-title>
                <mat-card-subtitle>
                    Psychology Criminal
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://headlight.s3.amazonaws.com/xWPxe47w7OiMvzrKECrLFg/NHHqFb2haW7aT0tUJT9vUw" alt="photo">
        </mat-card>
    </div>
    
    <div>
    <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    Vasanthan
                </mat-card-title>
                <mat-card-subtitle>
                    Criminal
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://headlight.s3.amazonaws.com/xWPxe47w7OiMvzrKECrLFg/Hp34BQ5AB_aU2MUtOZarzQ" alt="photo">
        </mat-card>
    </div>

    <div>
    <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    Carl Jung
                </mat-card-title>
                <mat-card-subtitle>
                    War Criminal
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://headlight.s3.amazonaws.com/xWPxe47w7OiMvzrKECrLFg/Hp34BQ5AB_aU2MUtOZarzQ" alt="photo">
        </mat-card>
    </div>

    
    <div>
    <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    Idiot
                </mat-card-title>
                <mat-card-subtitle>
                    Liar
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://headlight.s3.amazonaws.com/xWPxe47w7OiMvzrKECrLFg/Hp34BQ5AB_aU2MUtOZarzQ" alt="photo">
        </mat-card>
    </div>
    <div>
    <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    Carl Jung
                </mat-card-title>
                <mat-card-subtitle>
                    Psychology Criminal
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://headlight.s3.amazonaws.com/xWPxe47w7OiMvzrKECrLFg/NHHqFb2haW7aT0tUJT9vUw" alt="photo">
        </mat-card>
    </div>
</div>
